*
    margin: 0
    padding: 0
    box-sizing: border-box
html, body
    width: 100vw
    max-width: 100%
    position: relative
    min-height: 100%
html
    scroll-behavior: smooth
    font-family: 'Poppins', sans-serif
a
    text-decoration: none
    color: #03045E
    &:hover
        color: #507b34
        text-decoration: underline
ul
    list-style: none
img
    object-fit: cover
    object-position: center
.btn
    background-color: #203e57

    padding: 11px 35px
    border-radius: 5px

    z-index: 20

    border: none
    cursor: pointer

    text-align: center
    color: #fff

    transition: transform .3s
    &:hover
        color: #fff
        text-decoration: none

        transform: scale(0.99) !important
.section
    padding: 100px 1ex 0 1ex
    & > .flex
        flex-direction: column
        align-items: flex-start
    &-heading
        font-size: 35px
        color: #03045E
        font-family: 'Ubuntu', sans-serif
        margin-bottom: 1ex
    &-gradient-list
        margin: 1.75rem 3ex
        li
            display: flex
            align-items: center
            padding: 12px 0
            position: relative
            &:before
                content: ''
                position: absolute
                display: inline
                width: 40px
                height: 40px
                background-color: rgba(0, 0, 0, 0.1)   
                border-radius: 100%
                z-index: -1
                top: 0
                left: -10px