.hero
    padding: 160px 20%

    background-size: cover
    background-position: 50%
    background-repeat: no-repeat
    & > .flex
        flex-direction: column
        align-items: flex-start
    &__heading
        &--title
            background-color: #200c0e

            margin-bottom: 20px
            padding: 10px
            max-width: 260px
            
            font-size: 24px
            color: #fff

            +medium